body {
    background-color: gray;
}

#container {
    display: grid;
    max-width: 1200px;
    margin: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    'h h h h h h'
    's s s s s s'
    'o0 o0 o1 o1 o2 o2'
    's1 s1 s1 s1 s1 s1'
    'vs0 vs0 vs1 vs1 vs2 vs2'
    'f f f f f f'
    ;
    grid-gap: 4px;
}

#header {
    grid-area: h;
    background-color: rgb(100,100,100);
    text-align: center;
}

#subheading-0 {
    grid-area: s;   
    background-color: rgb(100,100,100);
    text-align: center;
}

.top-project, .vs-project {
    background-color: rgb(100,100,100);
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}

.top-project p, .vs-project p {
    height: 2em;
}

#top-0 {
    grid-area: o0;    
}

#top-1 {
    grid-area: o1;
}

#top-2 {
    grid-area: o2;
}

.img-top0, .img-vs0 {
    width: 95%;
    height: auto;
    padding: 0px;
    margin: 0px;
    border: 1px solid blue;
    align-content: center;
}

#subheading-1 {
    grid-area: s1;
    background-color: rgb(100,100,100);
    text-align: center;
}

#vs-0 {
    grid-area: vs0;
}

#vs-1 {
    grid-area: vs1;
}

#vs-2 {
    grid-area: vs2;
}

.footer {
    grid-area: f;
    text-align: center;
    background-color: rgb(100,100,100);
}