body {
    background-color: gray;
}

#container {
    display: grid;
    max-width: 1200px;
    margin: auto;
    
    grid-template-areas: 
    'h h h h h h'
    's s s s s s'
    ;
    grid-gap: 4px;
}

#header {
    grid-area: h;
    background-color: rgb(100,100,100);
    text-align: center;
}

#section-s {
    grid-area: s;
    height: 300px;
    background-color: rgb(100,100,100);
    text-align: center;
}