body {
    background-color: gray;
}

#container {
    display: grid;
    max-width: 1200px;
    margin: auto;
    
    grid-template-areas: 
    'h h h h h h'
    's s s s s s'
    'o0 o0 o1 o1 o2 o2'
    ;
    grid-gap: 4px;
}

#header {
    grid-area: h;
    background-color: rgb(100,100,100);
    text-align: center;
}

#subheading-0 {
    grid-area: s;
    
    background-color: rgb(100,100,100);
    text-align: center;
}

.top-project {
    background-color: rgb(100,100,100);
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
}

#top-0 {
    grid-area: o0;
}

#top-1 {
    grid-area: o1;
}

#top-2 {
    grid-area: o2;
}