body {
    background-color: rgb(54, 54, 54);
    max-width: 1200px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.primary-gradient {
    background: linear-gradient(
        135deg,
        #5D4CEC 0%,
        #5D4CEC 25%,
        #5D4CEC 75%,
        #5D4CEC 100%
    );
}

.secondary-gradient {
    background: repeating-linear-gradient(45deg,
        #8194FD 0%,
        #8194FD 25%,
        #8194FD 50%
    );
}

.tertiary-gradient {
    background: repeating-linear-gradient(135deg,
    #a8c2fe 0%,
    #a8c2fe 25%,
    #a8c2fe 50%
    );
}

.quarternary-gradient {
    background: linear-gradient(45deg,
    #d8d8d8 00%,
    #d8d8d8 33%,
    #d8d8d8 66%,
    #d8d8d8 100%);
}

.hidden {
    display: none;
}

main {
    margin: 0px;
}

.row-padding {
    padding: 30px 0px 30px 0px;
}

.main-heading {
    font-size: 3em;
    color: azure;
}

.box-shadow-0 {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
}

.box-shadow-1 {
        box-shadow: 2px 2px 14px 1px rgba(0, 0, 0, 0.59);
}

@media (max-width: 690px) {
    .main-heading {
        font-size: 2.4em;
    }

    .secondary-heading {
        font-size: 1.2em;
        padding: 10px 15px;
    }

    .tertiary-heading {
        font-size: 1.1em;
    }

    .primary-gradient-blue {
        background: linear-gradient(to right, rgb(99, 110, 233) 0%, #436eee 33%, #436eee 66%, rgb(96, 106, 211) 100%);
    }
}