body {
    margin: auto;
}

header {
    background-color: rgb(93, 76, 255);
    max-width: 1200px;
    margin: auto;
}

nav {
    display: flex;
    align-items: center;
    height: 52px;
}

.right-icon {
    margin-left: auto;
    justify-self: flex-end;
}

.nav-text-container {
    width: 150px;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.nav-paragraph {
    color: azure;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.4s ease-in;

}

.nav-text-container:hover {
    background-color: rgb(44, 137, 224);
    border-bottom: 1px solid white;
    transition: 0.3s ease-in;
}

.nav-icon-container {
    display: none;
}

.top-logo {
    border-radius: 50%;
    padding: 10px;
    margin: 0px 5px;
    height: 32px;
    width: 32px;
    transition: 0.5s ease-in;
}

.top-logo:hover {
    background-color: rgb(44, 137, 224);

}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 150px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    display: block;
    background-color: rgba(10, 10, 189, 0.822);
    border-bottom: 1px solid transparent;
}

.dropdown-content a:hover {
    background-color: rgb(44, 137, 224);
    border-bottom: 1px solid white;
    transition: 0.4s;
}
/* drop down disabled for now
.dropdown:hover .dropdown-content {
    display: block;
    transition: 0.5s;
}
*/
.dropdown:hover #portfolio-link {
    background-color: rgb(44, 137, 224);
}

@media (max-width: 640px) {
    nav {
        justify-content: space-evenly;
    }

    .nav-paragraph {
        display: none;
    }

    .nav-icon-container {
        display: contents;
    }
}